figure.floatright {
	max-width: 30%;
	width: auto;
	height: auto;
	float: right;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
figure.floatleft {
	max-width: 30%;
	width: auto;
	height: auto;
	float: left;
	margin: 20px;
}

article.article p {
	text-align: justify;
}

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: 400;
}

.article-container {
	max-width: 1000px;
}

.article-banner {
	max-width: 500px;
}
